.features {
    background: $Light_Grayish_Blue;
    text-align: center;
    padding: 65px 25px;
    position: relative;
    z-index: 80;
    h1 {
        @include principalTitle;
    }
    p {
        color: $Grayish_Blue;
        line-height: 1.5rem;
        font-size: .94rem;
    }
    .featuresItem {
        margin-top: 60px;
    }
}