header {
    position: relative;
    z-index: 100;
    background-color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 15px;
    ul {
        display: none;
    }
    .btn {
        display: none;
    }
    .icon-hamburguer {
        content: url('../../static/icon-hamburger.svg');
        height: 11px;
        width: 25px;
    }
}